* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  font-family: Garamond, Palatino, serif;
}
#page {
  padding: 1em;
  text-align: left;
  margin: 0 auto;
  width: 600px;
  background-color: floralwhite;
}
#lyrics {
  height: 150px;
  overflow: auto;
  border: 1px solid grey;
}
pre {
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Geneva, Verdana, sans-serif;
}

/* Media Queries */

@media (max-width: 610px) {
  #page {
    width: 100%;
  }
}
